 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Computer Science student at Mid Sweden University where I'm currently finishing up my second year. My passion is coding, and it's been my dream for a long time to be able to work with something I love to do, so after working for a few years I decided to go back to school.
                    Before going to school I almost exclusively did web development, but after completing a few courses on C++ and Java, my eyes have been opened to software development as well.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am currently on the hunt for a part-time position at a development company. My hopes are that I can finish my third and final year in school while also building real life experience. To be completely honest, I don't really care what work I would be doing, as long as it's slightly development related. I'd happily sweep the floors while looking over the shoulder of a senior developer.</p>
                </div>
            </div>
        </div>
    </section>